body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fa;
  color: #222;
}

header {
  background: #0c4a6e;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #08344d;
  padding: 12px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #9bd8ff;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.07);
}

.gallery img {
  width: 200px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

pre {
  background: #111827;
  color: #d1fae5;
  padding: 10px;
  border-radius: 6px;
  overflow-x: auto;
}

